<template>
    <div>
        <div v-if="this.errorMessage" class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Oops!</strong> {{this.errorMessage}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" v-on:click.prevent="dismissError">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form class="form-signin" v-on:submit.prevent="authorize">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <label for="inputLogin" class="sr-only">Login</label>
            <input type="text" v-model="login" id="inputLogin" class="form-control" placeholder="Login" required=""
                   autofocus="">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" v-model="password" id="inputPassword" class="form-control" placeholder="Password"
                   required="">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
    </div>
</template>

<script>
    export default {
        name: "Login",
        props: [
            "login",
            "password"
        ],
        data: function () {
            return {
                errorMessage: null
            }
        },
        methods: {
            authorize: function () {
                this.dismissError();
                this.$http.post("/api/security/login", {login: this.login, password: this.password})
                    .then(response => {
                        this.$cookie.set("apiToken", response.data.apiToken, {
                            expires: new Date(new Date().getTime()
                                + 60 * 60 * 1000), domain: "marievych.pp.ua"
                        });
                        this.$router.go(-1);
                    })
                    .catch(e => {
                        this.errorMessage = e.response.data.error;
                    })
            },
            dismissError: function () {
                this.errorMessage = null;
            }
        }
    }
</script>

<style scoped>
    .form-signin {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: auto;
    }

    .form-signin .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
    }

    .form-signin .form-control:focus {
        z-index: 2;
    }

    .form-signin input[type="text"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
</style>