<template>
    <div>
        <div class="h3">Transactions</div>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Customer</th>
                    <th>Amount</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="transaction in transactions">
                    <td>{{transaction.transactionId}}</td>
                    <td>{{transaction.customer.name}}</td>
                    <td>{{transaction.amount | currency("$", 2)}}</td>
                    <td>{{transaction.date}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--TODO make pagination-->
    </div>
</template>

<script>
    export default {
        name: "Transactions",
        data: function () {
            return {
                transactions: []
            }
        },
        filters: {
            currency: function (value, sign, digits) {
                return sign + value.toFixed(digits);
            }
        },
        mounted() {
            const apiToken = this.$cookie.get("apiToken");
            if (null == apiToken) {
                this.$router.push("/login");
            }
            this.$http.get("/api/transaction", {headers: {Authorization: apiToken}})
                .then(response => {
                    if (response.data) {
                        this.transactions = response.data.data;
                    }
                })
                .catch(error => {
                    if (error.response.status == 401) {
                        this.$router.push("/login");
                    }
                });
        }
    }
</script>

<style scoped>

</style>